

<div data-ng-include="include/views/header.html"></div>
<div class="row" id="features">
            <div class="col-sm-4 feature">
                <div class="panel panel-default">
                    <div class="panel-heading">Spring 4 Framework</div>
                    <img src="/public/lib/images/spring.png" alt="HTML5" class="img-circle">
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <a href="http://w3schools.com" target="_blank" class="btn btn-warning btn-block">Learn to code HTML5</a>
                </div>
                <!--end of panel-->
            </div>
            <!--end of inner feature-->

            <div class="col-sm-4 feature">
                <div class="panel panel-default">
                    <div class="panel-heading">Restful API</div>
                    <img src="/public/lib/images/restful.jpg" alt="CSS3" class="img-circle">
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <a href="http://w3schools.com" target="_blank" class="btn btn-danger btn-block">Learn to code CSS3</a>
                </div>
                <!--end of panel-->
            </div>
            <!--end of inner feature-->

            <div class="col-sm-4 feature">
                <div class="panel panel-default">
                    <div class="panel-heading">AngularJS and Bootstrap</div>
                    <img src="/public/lib/images/angular.png" alt="Bootstrap3" class="img-circle">
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <a href="http://w3schools.com" target="_blank" class="btn btn-info btn-block">More Bootstrap</a>
                </div>
                <!--end of panel-->
            </div>
            <!--end of inner feature-->
        </div>